
.custom-container {
  background-color: black;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
}

.card-body {
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 20px;
  background-color: lightblue;

}


.twobody{
  padding: 10px;
  color: brown;
border-radius: 0%;

}




.text-center{

  background-position: right top
}










